ul {
  padding: 0 0 0 20px;

  li {
    list-style: disc;
    margin: 10px 0;

    ul {
      margin: 20px 0 !important;
    }
  }
}

ul#component-showcase {
  $padding: 80px;
  margin: 0;
  padding: 0;

  .description {
    margin: 0;
    padding: 10px 0 $padding 0;
    font-size: 16px;
    color: #F00;
  }

  > li {
    list-style: none;
    margin: 0;
    padding: 0 0 $padding 0;
    border-top: 3px dashed #F00;
  }
}

.height-spacer {
    &-1 {
        padding-top: $desktop-spacing*1;
        padding-bottom: $desktop-spacing*1;
    }
    &-2 {
        padding-top: $desktop-spacing*2;
        padding-bottom: $desktop-spacing*2;
    }
    &-3 {
        padding-top: $desktop-spacing*3;
        padding-bottom: $desktop-spacing*3;
    }
    &-4 {
        padding-top: $desktop-spacing*4;
        padding-bottom: $desktop-spacing*4;
    }
    &-5 {
        padding-top: $desktop-spacing*5;
        padding-bottom: $desktop-spacing*5;
    }
}

.top-spacer {
    &-1 {
        padding-top: $desktop-spacing*1;
    }
    &-2 {
        padding-top: $desktop-spacing*2;
    }
    &-3 {
        padding-top: $desktop-spacing*3;
    }
    &-4 {
        padding-top: $desktop-spacing*4;
    }
    &-5 {
        padding-top: $desktop-spacing*5;
    }
}

.bottom-spacer {
    &-1 {
        padding-bottom: $desktop-spacing*1;
    }
    &-2 {
        padding-bottom: $desktop-spacing*2;
    }
    &-3 {
        padding-bottom: $desktop-spacing*3;
    }
    &-4 {
        padding-bottom: $desktop-spacing*4;
    }
    &-5 {
        padding-bottom: $desktop-spacing*5;
    }
}

.col-container {
    .col-sm-12, .col-sm-11,
    .col-sm-10, .col-sm-9,
    .col-sm-8, .col-sm-7,
    .col-sm-6, .col-sm-5,
    .col-sm-4, .col-sm-3,
    .col-sm-2, .col-sm-1 {
        display: table-cell;
        float: none;
        vertical-align: middle;
    }
}


@include mobile {
    .text-center-sm {
        text-align: center;
    }
    .text-right-sm {
        text-align: right;
    }
    .text-left-sm {
        text-align: left;
    }



    .height-spacer {
        &-1 {
            padding-top: $mobile-spacing*1;
            padding-bottom: $mobile-spacing*1;
        }
        &-2 {
            padding-top: $mobile-spacing*2;
            padding-bottom: $mobile-spacing*2;
        }
        &-3 {
            padding-top: $mobile-spacing*3;
            padding-bottom: $mobile-spacing*3;
        }
        &-4 {
            padding-top: $mobile-spacing*4;
            padding-bottom: $mobile-spacing*4;
        }
        &-5 {
            padding-top: $mobile-spacing*5;
            padding-bottom: $mobile-spacing*5;
        }
    }

    .top-spacer {
        &-1 {
            padding-top: $mobile-spacing*1;
        }
        &-2 {
            padding-top: $mobile-spacing*2;
        }
        &-3 {
            padding-top: $mobile-spacing*3;
        }
        &-4 {
            padding-top: $mobile-spacing*4;
        }
        &-5 {
            padding-top: $mobile-spacing*5;
        }
    }

    .bottom-spacer {
        &-1 {
            padding-bottom: $mobile-spacing*1;
        }
        &-2 {
            padding-bottom: $mobile-spacing*2;
        }
        &-3 {
            padding-bottom: $mobile-spacing*3;
        }
        &-4 {
            padding-bottom: $mobile-spacing*4;
        }
        &-5 {
            padding-bottom: $mobile-spacing*5;
        }
    }
}

@include non-mobile {
    .text-center-md {
        text-align: center;
    }
    .text-right-md {
        text-align: right;
    }
    .text-left-md {
        text-align: left;
    }
}